<div class='commit-<%= role.to_s %>'>
  <img src='<%= gravatar_url(actor.email) %>' />
  <table cellpadding=0>
    <tr>
      <td>
        <%= actor.name %> <span class='quiet'>(<%= role.to_s %>)</span>
      </td>
    </tr>
    <tr>
      <td><%= nicetime(date) %></td>
    </tr>
  </table>
</div>
