<% title @blob[:name], headline: @repo.name %>

<%= partial :header, locals: { repo: @repo } %>
<%= partial :tree_nav %>

<p><i class="icon-file"></i> <%= @blob[:name] %></p>

<% blob = @repo.find_blob @blob[:oid] %>

<% if blob.binary? %>
  <% raw_blob_url = "#{prefix_url(@repo.param)}/raw/#{params[:tree]}/#{params[:splat].first}" %>

  <% if %(gif png jpg jpeg).include? File.extname(@blob[:name])[1..-1].downcase %>
    <a href="<%= raw_blob_url %>">
      <img class="blob-image" src="<%= raw_blob_url %>" alt="<%= @blob[:name] %>">
    </a>
  <% else %>
    <p>Binary file</p>
    <p><i class="icon-download"></i> <a href="<%= raw_blob_url %>">Download</a></p>
  <% end %>
<% else %>
  <%= highlight_source blob.content, @blob[:name] %>
<% end %>
