<% title @blob[:name], headline: @repo.name %>

<%= partial :header, locals: { repo: @repo } %>
<%= partial :tree_nav %>

<% raw_blob_url = "#{prefix_url(@repo.param)}/raw/#{params[:tree]}/#{params[:splat].first}" %>

<div class="row-fluid">
  <p class="pull-left"><%= file_icon @blob[:filemode] %> <%= @blob[:name] %></p>
  <p class="pull-right"><a href="<%= raw_blob_url %>">Raw</a></p>
</div>

<% blob = @repo.find_blob @blob[:oid] %>

<% if blob.binary? %>
  <% if %(gif png jpg jpeg).include? File.extname(@blob[:name])[1..-1].downcase %>
    <a href="<%= raw_blob_url %>">
      <img class="blob-image" src="<%= raw_blob_url %>" alt="<%= @blob[:name] %>">
    </a>
  <% else %>
    <p>Binary file</p>
    <p><span class="icon-download"></span> <a href="<%= raw_blob_url %>">Download</a></p>
  <% end %>
<% else %>
  <div class="source-wrapper highlight">
    <%= highlight_source blob.content, @blob[:name] %>
  </div>
<% end %>
