<%= partial(:header, :locals => {:repo => @repo}) %>
<h3>Blob: <%= params[:splat].first %></h3>
<div class="active">
  <div class="blob">
    <h4><img src="<%= prefix_url("img/doc.png") %>" /><%= @blob.name %></h4>
    <%= pygmentize(@blob.data, @blob.name) %>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>