<% title @repo.name, headline: "Commit #{@commit.oid[0..6]}" %>
<%= partial :header, locals: { repo: @repo } %>

<div class="info-box">
  <div class="row-fluid">
    <div class="span5">
      <%= simple_format h(@commit.message) %>

      <div class="author-box">
        <img src="<%= gravatar_url(@commit.author[:email]) %>" class="img-rounded" alt="<%= @commit.author[:name] %>">
        <strong><%= @commit.author[:name] %></strong>
        authored at <%= time_tag @commit.author[:time] %>

        <% unless @commit.committer[:name] == @commit.author[:name] %>
        <div class="author-box">
          <img src="<%= gravatar_url(@commit.committer[:email]) %>" class="img-rounded" alt="<%= @commit.committer[:name] %>">
          <strong><%= @commit.committer[:name] %></strong>
          committed at <%= time_tag @commit.committer[:time] %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="span7">
      <div class="row-fluid">
        <div class="span1">
          <p><strong>commit:</strong></p>
          <p><strong>tree:</strong></p>
          <% @commit.parents.size.times do %>
            <p><strong>parent</strong></p>
          <% end %>
        </div>
        <div class="span3">
          <p>
            <a href="<%= prefix_url(@repo.param) %>/commit/<%= @commit.oid %>">
              <%= @commit.oid %>
            </a>
          </p>

          <p>
            <a href="<%= prefix_url(@repo.param) %>/tree/<%= @commit.tree.oid %>">
              <%= @commit.tree.oid %>
            </a>
          </p>

          <% @commit.parents.each do |parent| %>
          <p>
            <a href="<%= prefix_url(@repo.param) %>/commit/<%= parent.oid %>">
              <%= parent.oid %>
            </a>
          </p>
          <% end %>

          <p><span class="icon-download"></span> <%= patch_link @commit, @repo.param %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="diff">
  <% diff = @commit.parents.first.diff(@commit) %>
  <%= file_listing diff %>

  <% diff.patches.each_with_index do |patch, index| %>
    <p><span class="icon-file"></span> <a id='file-<%= index + 1 %>'><%= patch.delta.new_file[:path] %></a></p>

    <% patch.hunks.each do |hunk| %>
      <%= highlight_diff hunk %>
    <% end %>
  <% end %>
</div>
