<%= partial :header, :locals => {:repo => @repo} %>

<script src="<%= prefix_url("js/lib/raphael.js") %>"></script>
<script>
  var chunk1 = {commits: <%= @commits_json %>},
      days = <%= @days_json %>;
</script>
<script src="<%= prefix_url("js/branch-graph.js") %>"></script>

<script>
	window.onload = function(){
		branchGraph(document.getElementById("holder"));
	}
</script>

<div id="holder" class="graph"></div>
