<div class="page-header">
  <h1><%= title 'Repositories' %> <small><%= h Ginatra.config.description %></small></h1>
  <% if Ginatra.config.git_clone_enabled? %>
    <div class="muted clone-hint">
      To clone one of these repositories, install git, and run:
      git clone <%= url %><strong>repo-name</strong>
    </div>
  <% end %>
</div>

<% if @repositories.size > 10 %>
  <div class="row-fluid filter">
    <input type="text" class="span12 js-filter-query" placeholder="Filter...">
  </div>
<% end %>

<ul class="nav nav-tabs nav-stacked js-repolist">
  <% @repositories.each do |repo| %>
    <li>
      <a href="<%= prefix_url(repo.param) %>">
        <h2>
          <%= empty_description_hint_for(repo) %>
          <%= repo.name %> <small><%= h repo.description %></small>
        </h2>
      </a>
    </li>
  <% end %>
</ul>
