<!DOCTYPE html>
<html>
  <head>
    <title>Ginatra</title>
    <meta charset="utf-8">
    <script src="<%= prefix_url("js/jquery.min.js") %>"></script>
    <script src="<%= prefix_url("js/bootstrap.min.js") %>"></script>
    <script src="<%= prefix_url("js/highlight.min.js") %>"></script>
    <script src="<%= prefix_url("js/custom.js") %>"></script>
    <link href="<%= prefix_url("css/bootstrap.min.css") %>" rel="stylesheet">
    <link href="<%= prefix_url("css/github.min.css") %>" rel="stylesheet">
    <link href="<%= prefix_url("css/custom.css") %>" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">

      <div class="well">
        <h1><a href="<%= prefix_url %>">Ginatra</a></h1>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
