<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= prefix_url("assets/application.css") %>" rel="stylesheet">
    <% if @repo %>
      <link href="<%= atom_feed_url @repo.name, params[:ref] %>" title="Commits to <%= @repo.name %><%= ": #{params[:ref]}" if params[:ref] %>" type="application/atom+xml" rel="alternate">
    <% end %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="well header">
        <h1><a href="<%= prefix_url %>"><%= Ginatra.config.sitename %></a></h1>
      </div>

      <%= yield %>
    </div>

    <%= partial :footer %>

    <script src="<%= prefix_url("assets/application.js") %>"></script>
  </body>
</html>
