<!DOCTYPE html>
<html>
  <head>
    <title>Ginatra</title>
    <meta charset="utf-8">
    <link href="<%= prefix_url("main.css") %>" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="well">
        <h1><a href="<%= prefix_url %>">Ginatra</a></h1>
      </div>

      <%= yield %>
    </div>

    <%= partial :footer %>

    <script src="<%= prefix_url("main.js") %>"></script>
  </body>
</html>
