<!DOCTYPE html>
<html>
  <head>
    <title>Ginatra</title>
    <meta charset="utf-8">
    <link href="<%= prefix_url("assets/application.css") %>" rel="stylesheet">
  </head>
  <body>
    <div id="wrap">
      <div class="container-fluid">
        <div class="well header">
          <h1><a href="<%= prefix_url %>">Ginatra</a></h1>
        </div>

        <%= yield %>
      </div>

      <div id="push"></div>
    </div>

    <%= partial :footer %>

    <script src="<%= prefix_url("assets/application.js") %>"></script>
  </body>
</html>
