<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= prefix_url("assets/application.css") %>" rel="stylesheet">
    <% if @repo %>
      <link href="<%= atom_feed_url @repo.name, params[:ref] %>" title="Commits to <%= @repo.name %><%= ": #{params[:ref]}" if params[:ref] %>" type="application/atom+xml" rel="alternate">
    <% end %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= prefix_url %>">
            <%= h Ginatra.config.sitename %>
          </a>
          <p class="navbar-text"><%= h Ginatra.config.description %></p>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= partial :footer %>

    <script src="<%= prefix_url("assets/application.js") %>"></script>
  </body>
</html>
