<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ginatra</title>
    <link rel="stylesheet" href="<%= prefix_url("src/index.css") %>" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="<%= prefix_url("src/ginatra.js") %>" type="text/javascript"></script>
    <script type="text/javascript" src="<%= prefix_url("src/highlight.pack.js") %>"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    <link rel="stylesheet" href="<%= prefix_url("src/github.css") %>" type="text/css" media="screen" />
  </head>
  <body>
    <div id="content">
      <div id="inner">
        <h1><a href="<%= prefix_url %>">Ginatra</a></h1>
        <%= yield %>
      </div>
      <div id="footer-spacer">&nbsp;</div>
    </div>
    <div id="footer">
      Ginatra &mdash; &copy; 2009 Samuel Elliott &mdash; <a href="http://www.opensource.org/licenses/mit-license.php">MIT Licence</a>
    </div>
  </body>
</html>
