<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title(sitename: 'Ginatra') %></title>
    <link href="<%= prefix_url("assets/application.css") %>" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid push">
      <div class="well header">
        <h1><a href="<%= prefix_url %>">Ginatra</a></h1>
      </div>

      <%= yield %>
    </div>

    <%= partial :footer %>

    <script src="<%= prefix_url("assets/application.js") %>"></script>
  </body>
</html>
