<%= partial(:header, :locals => {:repo => @repo}) %>
<h3>Commits<% if params[:ref] %>: <%= params[:ref] %><% end %> <%= atom_feed_link(@repo.param, params[:ref]) %></h3>
<div class="active">
  <% if @previous_commits %>
    <a href='<%= prefix_url(params[:repo]) %>/<%= params[:ref] %>/<%= params[:page] - 1 %>'>Previous</a>
  <% end %>

  <% if @separator %>
    |
  <% end %>

  <% if @next_commits %>
    <a href='<%= prefix_url(params[:repo]) %>/<%= params[:ref] %>/<%= params[:page] + 1 %>'>Next</a>
  <% end %>
  <div class='list'>
    <div id='heads'>
      <h3>Heads</h3>
      <ul>
        <% @repo.heads.each do |head| %>
          <li>
            <a href="<%=h prefix_url(@repo.param) %>/<%=h head.name %>">
              <%=h head.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
   
    <div id='tags'>
      <h3>Tags</h3>
      <% unless @repo.tags.empty? %>
        <ul>
          <% @repo.tags.each do |tag| %>
            <li>
              <a href="<%=h prefix_url(@repo.param) %>/commit/<%=h tag.name %>">
                <%=h tag.name %>
              </a>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No tags</p>
      <% end %>
    </div>
  </div>
  <div id='commit-log'>
    <% @commits.each do |commit| %>
    <% url = prefix_url("#{@repo.param}/commit/#{commit.id_abbrev}") %>
      <div id='commit_<%= commit.id_abbrev %>' class='commit' onclick="location.href='<%= url %>'">
        <div class='right'>
          <span class='id'>
            <code><a href="<%= url %>"><%= commit.id %></a></code>
          </span>
          <span class='refs'><%= commit_refs(commit, @repo.param) %></span>
        </div>
        <span class='date'><%= nicetime(commit.committed_date) %></span><br>
        
        <span class='message'><%= truncate(h(commit.short_message), { :length => 140, :separator => ' '}) %></span><br>
        <span class='author'><%= commit.author.name %> <small>(author)</small></span>
      </div>
    <% end %>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>