<% title "#{@repo.name} at #{@tree.oid[0..6]}" %>

<div id="pjax-container">
  <%= partial :header, locals: { repo: @repo } %>
  <%= partial :tree_nav %>

  <ul class="nav nav-tabs nav-stacked" id="js-tree">
    <div id="loader"><img src="<%= prefix_url("img/spin.gif") %>"></div>

    <% @tree.each_tree do |tree| %>
      <% tree_path = "#{tree[:name]}"%>
      <li class="tree">
        <a href="<%= prefix_url(@path[:tree]) %>/<%= tree_path %>">
          <i class="icon-folder-close"></i> <%= tree[:name] %>
        </a>
      </li>
    <% end %>

    <% @tree.each_blob do |blob| %>
      <li class="blob">
        <a href="<%= prefix_url(@path[:blob]) %>/<%= blob[:name] %>">
          <i class="icon-file"></i> <%= blob[:name] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
