<% title "#{@repo.name} at #{@tree.oid[0..6]}" %>

<div id="pjax-container">
  <%= partial :header, locals: { repo: @repo } %>
  <%= partial :tree_nav %>

  <div class="hide" id="loader"><img src="<%= prefix_url("img/spin.gif") %>" alt="loading"></div>

  <ul class="nav nav-tabs nav-stacked" id="js-tree">
    <% @tree.each do |tree| %>
      <% next unless tree[:type] == nil && tree[:filemode] == 57344 %>
      <li class="tree">
        <span class="icon-hdd"></span> <%= tree[:name] %>
      </li>
    <% end %>

    <% @tree.each_tree do |tree| %>
      <% tree_path = "#{tree[:name]}"%>
      <li class="tree">
        <a href="<%= prefix_url(@path[:tree]) %>/<%= tree_path %>">
          <span class="icon-folder-close"></span> <%= tree[:name] %>
        </a>
      </li>
    <% end %>

    <% @tree.each_blob do |blob| %>
      <li class="blob">
        <a href="<%= prefix_url(@path[:blob]) %>/<%= blob[:name] %>">
          <%= file_icon blob[:filemode] %> <%= blob[:name] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
