<%= partial(:header, :locals => {:repo => @repo}) %>
<h3>Tree <%= @commit.id %></h3>
<div class="active">
  <div class="commit">
    <%= partial(:commit_info_box, 
                :locals => { :repo => @repo, 
                             :commit => @commit }) %>
  </div>
  <div class="commit-message"><%=simple_format @commit.message %></div>
  <ul class="commit-tree">
    <% @tree.trees.each do |tree| %>
      <li class="tree"><a href="#"><%= tree.basename %></a>
        <ul>
          <% tree.trees.each do |next_tree| %>
            <%= partial(:tree_part, :locals => {:current_tree => next_tree }) %>
          <% end unless tree.trees.empty? %>
          <% tree.blobs.each do |next_blob| %>
            <li class="blob"><%= next_blob.basename %></li>
          <% end unless tree.blobs.empty? %>
        </ul>
      </li>
    <% end unless @tree.trees.empty? %>
    <% @tree.blobs.each do |blob| %>
      <li class="blob"><%= blob.basename %></li>
    <% end unless @tree.blobs.empty? %>
  </ul>
  <div class="clearfix">&nbsp;</div>
</div>