<%= partial(:header, :locals => {:repo => @repo}) %>
<h3>Tree: <%= @tree.id %> <%= archive_link @tree, @repo.param %></h3>
<div class="active">
  <ul class="commit-tree">
    <% @tree.trees.each do |tree| %>
      <% tree_path = "#{tree.name}"%>
      <li class="tree"><a href="<%= prefix_url(@path[:tree]) %><%= tree_path %>"><%= tree.basename %></a>
        <ul>
          <% tree.trees.each do |next_tree| %>
            <% new_path = tree_path + "/#{next_tree.name}" %>
            <%= partial(:tree_part, :locals => {:current_tree => next_tree, :tree_path => new_path, :path => @path }) %>
          <% end %>
          <% tree.blobs.each do |next_blob| %>
            <li class="blob"><a href="<%= prefix_url(@path[:blob]) %>/<%= tree_path %>/<%= next_blob.basename %>"><%= next_blob.basename %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% @tree.blobs.each do |blob| %>
      <li class="blob"><a href="<%= prefix_url(@path[:blob]) %>/<%= blob.basename %>"><%= blob.basename %></a></li>
    <% end %>
  </ul>
  <div class="clearfix">&nbsp;</div>
</div>